@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;    
}

a {
    text-decoration: none;
    color: #f9faf8;
}

button:hover {
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    background-color: #1f2937;
}

.logo img {
    height: 40px;
}

.intro {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0px;
    background-color: #1f2937;
}

.intro .img {
    width: 500px;
    height: auto;
}

.img img {
    height: auto;
    width: 500px;
}

.card {
    max-width: 600px;
}

.card h1 {
    font-size: 48px;
    font-weight: 500;
    color: #f9faf8;
}

.card p {
    font-size: 18px;
    color: #e5e7e5;
}

.card a button {
    border-radius: 10px;
    background-color: #3882f6;
    border-color: #3882f6;
    color: #f9faf8;
}

.hinfo {
    height: 200px;
    width: auto;
}

.hinfo img {
    height: 200px;
    width: auto;
    border: 3px solid;
    border-radius: 13px;
    border-color: #3882f6;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.sub {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 500;
    color: #1f2937;
}

.container {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.tinfo {
    max-width: 200px;
}

.snap {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: #e5e7e5;
}

.tuoqe {
    font-size: 36px;
    padding: 50px;
    max-width: 800px;
    font-style: italic;
    color: #1f2937;
}

.author {
    padding-left: 300px;
    font-size: 19px;
    margin-top: -30px;
    color: #1f2937;
    font-weight: 500;
}

.final {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.fcontainer {
    display: flex;
    border: 1px solid;
    border-radius: 10px;
    border-color: #3882f6;
    padding: 60px 200px;
    gap: 300px;
    align-items: center;
    background-color: #3882f6;
    color: #f9faf8;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px ;
    background-color: #1f2937;
    color: #f9faf8;
}

button {
    padding: 9px 16px;
    font-weight: bold;
}

.futton {
    flex-grow: 0;
    box-sizing: border-box;
    max-height: 37px;
    border-radius: 10px;
    background-color: #3882f6;
    border-color: #f9faf8;
    color: #f9faf8;
    border-style: solid;
}

.fitle {
    font-size: 24px;
    font-weight: bold;
}